<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoile.app.admin.mapper.CodeMapper">

	<!-- 중복 제거 조회 -->
	<select id="codeList"
		resultType="com.etoile.app.vo.CodeVO">
		
		SELECT code_master, code_detail 
		FROM code
		WHERE code_master = #{codeMaster}
</select>

</mapper>