<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.etoile.app.style.mapper.StyleMapper">


	<!-- 리뷰 전체 리스트 조회 -->
	<select id="stylingList" resultType="stylingVO" parameterType="stylingVO">
		SELECT a.* FROM
			( SELECT b.*, rownum rn from (
			SELECT * FROM STYLING ) b ) a
		WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 리뷰 리스트 검색 -->
	<select id="stylingSearch" resultType="stylingVO">
		SELECT a.* FROM
			( SELECT b.*, rownum rn FROM (
			SELECT * FROM styling WHERE UPPER(style_tag) like '%' || UPPER(#{styleTag}) || '%'
			) b ) a
			WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<!--  리뷰 한건 조회 -->
	<select id="stylingSelect" resultType="stylingVO" parameterType="stylingVO">
		SELECT STYLE_ID, MEMBER_ID, STYLE_TAG, STYLE_DATE, STYLE_RECOMMEND, STYLE_CONTENT, STYLE_IMAGE
		FROM STYLING
	 	WHERE STYLE_ID = #{styleId}
	</select>	
	
	<!-- 리뷰 등록폼 제품 리스트 조회 -->
	<select id="productReviewList" resultType="productVO" parameterType="productVO">
		SELECT PRODUCT_NAME
		FROM PRODUCT
	</select>
	
	<!-- 리뷰 등록 --> 
	<insert id="stylingInsert" parameterType="stylingVO">
		INSERT INTO STYLING
		VALUES (style_seq.nextval, #{memberId}, #{styleTag}, SYSDATE, 0, #{styleContent}, #{styleImage} )
	</insert>

	<!-- 총 리뷰 수 조회 -->
	<select id="stylingCount" resultType="int">
		SELECT count(*) FROM STYLING
		<where>
			<if test="styleTag != null">
				style_tag like '%' || #{styleTag} || '%'
			</if>
		</where>
	</select>
	
	
	<!-- 리뷰 추천 등록 (좋아요) -->
	<insert id="stylingRecommend" parameterType="RecommendVO">
		INSERT INTO RECOMMEND VALUES ( #{memberId}, #{styleId} )
	</insert>
	
	<!-- 리뷰 추천 취소 (좋아요 취소) -->
    <delete id="stylingRecommendDelete" parameterType="RecommendVO">
        DELETE FROM RECOMMEND
		WHERE style_id = #{styleId}
		AND member_id = #{memberId}
    </delete>

	<!-- 리뷰 추천 (좋아요) 여부 조회 -->
	<select id="selectRecommend" resultType="int">
		SELECT count(*) FROM RECOMMEND
		WHERE style_id = #{styleId}
		AND member_id = #{memberId}
	</select>
	
 	<!--  리뷰 좋아요 총 카운트 조회 -->
	<select id="selectTotalRecommend" resultType="int">
		SELECT style_recommend FROM STYLING
		WHERE style_id = #{styleId}
	</select> 
		
	 <!--  좋아요 클릭시 +1 -->
	 <update id="likeCheck">
   		UPDATE STYLING
  	    SET style_recommend = style_recommend + 1 
   	    WHERE style_id = #{styleId}
 	 </update>
  
  	<!-- 좋아요 취소시 0 -->
  	<update id="likeCheckCancel">
   		UPDATE STYLING
   	 	SET style_recommend = style_recommend -1
    	WHERE style_id = #{styleId}
  	</update>


	<!-- 마이페이지: 해당회원 리뷰 리스트 -->
	<select id="myPageStyling" resultType="stylingVO" parameterType="stylingVO">
		SELECT * FROM STYLING
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 마이페이지: 해당회원 리뷰 한 건 조회 -->
	<select id="myPageStylingDetail" resultType="stylingVO" parameterType="stylingVO">
		SELECT STYLE_ID, MEMBER_ID, STYLE_TAG, STYLE_DATE,
			   STYLE_RECOMMEND, STYLE_CONTENT, STYLE_IMAGE
		FROM STYLING
		WHERE member_id = #{memberId}
		AND style_id = #{styleId}
	</select>
	
	<!-- 마이페이지: 해당회원 추천 리스트 -->
	<select id="myPageStylingRecommend" resultType="stylingVO" parameterType="stylingVO">
		SELECT a.style_tag, a.style_content, b.style_id
		FROM STYLING a, ( SELECT *
					  	FROM RECOMMEND
					  	WHERE member_id = #{memberId}
						) b
		WHERE a.style_id = b.style_id
	</select>

</mapper>